:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --primary: #fe8a02;
    --primary-dark: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

* {
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark);
    margin-bottom: 13px;
}

h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.text-align-center {
    text-align: center;
}

body {
    margin: 0;
}

.content-container {
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

.header {
    position: relative;
    background-color: var(--light);
    height: 100vh;
}

.section-container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.background-before::before {
    content: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
}

.header-columns {
    margin-top: 200px;
}

.main-img {
    height: 525px;
    position: absolute;
    top: 55px;
    right: -270px;
}

.display-flex {
    display: flex;
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.flex-columns {

}

.flex-column {
    max-width: 540px;
}

.flex-column:first-child {
    margin-right: 30px;
}

.primary-text-color {
    color: var(--primary);
}

.button {
    background: var(--primary);
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 16px;
    line-height: 160%;
    margin-top: 27px;
}

.button a {
    color: var(--white);
    text-decoration: none;
}

.center-content {
    margin: 0 auto;
}

.video-heading {
    margin-bottom: 27px;
}

.video {
    margin-top: 17px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}