:root {
    --white: #fff;
    --transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --primary: #fe8a02;
    --primary-dark: #42413c;
    --dark: #2a2626;
    --transparent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

* {
    margin: 0;
}

body {
    margin: 0;
}





/**Text Styles**/

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 13px;
}

ul {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    color: var(--primary);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
    line-height: 72px;
}

h3 {
    font-size: 34px;
    padding-bottom: 16px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    color: var(--white);
}

.text-align-center {
    text-align: center;
}

.text-dark {
    color: var(--dark);
}

.text-white {
    color: var(--white);
}

.text-brown {
    color: var(--brown);
}

.text-transparent-dark {
    color: var(--transparent-dark);
}

.text-transparent-white {
    color: var(--transparent-white);
}

/**Background Styles**/

.background-light {
    background-color: var(--light);
}

.background-primary-dark {
    background-color: var(--primary-dark);
}

.background-brown {
    background-color: var(--brown);
}

.background-white {
    background-color: var(--white);
}

.background-before::before {
    content: url(./src/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    margin: 0 auto;
    width: 1440px;
    align-self: center;
    display: flex;
    top: 0;
}

/**Forms And Buttons Styles**/

.button-more {
    background: var(--primary);
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 16px;
    line-height: 160%;
    margin-top: 27px;
}

.button-more:hover {
    background: #EA7600;
    cursor: pointer;
}

.button-more a {
    text-decoration: none;
}

.button-submit {
    margin: 0;
    height: 50px;
    width: 70px;
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 9px;
}

.button-submit:hover {
    background: #EA7600;
}

.button-submit:before {
    content: url(./src/img/send.svg);
    margin: auto;
    display: inline-block;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

input#email {
    height: 20px;
    margin: 9px 0 0 0;
    padding: 15px;
    width: 385px;
    border: 0;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1px;
    line-height: 160%;
    color: #757575;
    opacity: 0.2;
}

/** Content Styles **/

.main-img {
    height: 525px;
    position: absolute;
    top: 55px;
    right: -270px;
}

.section-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    padding: 100px 0;
}

.content-container {
    width: 1110px;
}

.center-content {
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-column {
    max-width: 540px;
    z-index: 999;
}

.flex-column:first-child {
    margin-right: 30px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}


/**Header Styles**/

.header {
    position: relative;
    height: 100vh;
}

.header-columns {
    margin-top: 200px;
}

/**Video Section Styles**/

.youtube-video {
    margin-bottom: -200px;
}

.video-heading {
    margin-bottom: 27px;
}

.video {
    margin-top: 17px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 999;
}

/**Main Section Styles**/

.navigation-container {
    padding-top: 100px;
}

.navigation-heading {
    font-size: 48px;
    line-height: 120%;
    margin-top: 20px;
}

.main-card {
    background: var(--light);
    padding: 24px;
    width: 305px;
    margin-top: 20px;
}

.main-card a {
    color: inherit;
    text-decoration: inherit;
}

.main-card:first-child {
    background: none;
    padding: 0;
    min-width: 353px;
    margin-top: 20px;
}

.main-card:hover {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
}

.main-card:first-child:hover {
    background: none;
    cursor: inherit;
    color: var(--primary);
}

.main-card:first-child:hover > h3 {
    color: var(--primary);
}

.main-card:hover > h3, .main-card:hover > p, .main-card:hover > p.card-number, .main-card a:hover > h3, .main-card a:hover > p, .main-card a:hover > p.card-number, .main-card:hover h3 {
    color: var(--white);
}

.card-number {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha', cursive;
    line-height: 1;
}

/**Description Sections Styles**/

.description {
    max-width: 502px;
}

.description-subheading {
    font-family: 'Neucha', cursive;
    font-size: 24px;
}

.description-text {
    font-family: 'Neucha', cursive;
    font-size: 34px;
    margin-top: 30px;
    line-height: 41px;
}

.illustration {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    vertical-align: middle;
}

.heading-h4 {
    margin: 100px 0 20px;
    width: 100%;
}

/**Footer Styles**/

.footer-container {
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    width: 1110px;
}

.footer-flex-column {
    width: 485px;
    padding: 38px 55px 40px 30px;
}

.footer-flex-column:first-child {
    padding: 55px;
    width: 430px;
}

.footer-flex-column h3 {
    padding: 0;
}

.header-columns {
    margin-top: 200px;
}

.privacy {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
}

.privacy a {
    text-decoration: underline;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
}

.credits {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.credits p {
    margin: 8px auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
}